@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        /* @apply px-12 ; */
    }
    
}
/* 
.bg-custom {
    background-image: url('assets/background/Main.png');
  } */

  .range-input::-webkit-slider-runnable-track {
    @apply bg-[#405FF2] h-2 rounded-lg;
  }
  .range-input::-webkit-slider-thumb {
    @apply w-4 h-4 bg-[#405FF2] rounded-full cursor-pointer;
    -webkit-appearance: none;
    margin-top: -6px; /* Centers thumb with track */
  }
  